html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 70px 0 100px;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.menu_1,
.tablemenu,
.menu_3{
    background-color: #2a3644;  
    margin-bottom: 40px;  
}

header a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.menu_1>li,
.menu_3>ul>li{
    display: inline-block;
    position: relative;
}
h1,
h2{
    font-size: 24px;
    color: #bfbfbf;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;
    padding: 48px 0 28px;
    margin-top: 0;
}

.menu,
.tablemenu{
    border-radius: 3px;
}
.menu li:first-child:hover>a {
    border-radius: 3px 3px 0 0;
}
.menu li:last-child:hover>a {
    border-radius: 0  0 3px 3px;
}
/* persha menushka pochatok*/
.menu{
    padding-left: 0;
    text-align: justify;
    font-size: 0;
}
.menu>li{
    position: relative;
    font-size: 16px;
    border-right: 1px solid #3f4751;
    border-left: 1px solid #3f4751;
    list-style: none;
}
.menu>li:first-child{
    border-left: none;
}
.menu>li:last-child{
    border-right: none;
}
.menu a{
    display: block;
    padding: 15px 30px;
    font-size: 16px;
}
.menu>li:hover{
    background-color: #3f4852;
}
.menu a:hover{
    color: #fd8612;
}
.after_menu::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.sub_menu{
    padding-top: 5px;
    top:  100%;
}
.sub_menu,
.sub_menu_2,
.sub_menu_3{
    z-index: 1;
    display: none;
    position: absolute;
    width: 210px;
    text-align: left;
    font-size: 15px;
}
.sub_menu li,
.sub_menu_2 li,
.sub_menu_3 li{
    border-bottom: 1px solid #b9bdc1;
    position: relative;
}
.sub_menu li:last-child,
.sub_menu_2 li:last-child,
.sub_menu_3 li:last-child{
    border-bottom: 0;
}
.sub_menu ul{
    padding: 0;
    border-radius: 3px;
    background-color: #d2d4d5;
}
.sub_menu li{
    list-style: none;
    text-align: left;
}
.sub_menu a{
    padding: 15px 20px;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    display: block;
}
.sub_menu a:hover{
    background-color: #2a3644; 
}
.menu li:hover .sub_menu{
    display: block; 
}
.menu_1 li:last-child .sub_menu{
    right: 0;
}
/*persga menushka zakinchena*/ 
/*menushka nomer 2*/
.tablemenu{
    margin-bottom: 40px;
}
.row{
    display: table-row;
}
.cell{
    display: table-cell;
    text-align: center;
}
.sub_menu_2{
    padding-left: 5px;
    top: 0;
    left: 100%;
}
.sub_menu_3{
    padding-right: 5px;
    top: 0;
    right: 100%;
}
.tablemenu .sub_menu li{
    display: block;
}
.sub_menu li:hover .sub_menu_2{
    display: block; 
}
.sub_menu_2 li:hover .sub_menu_3{
    display: block; 
}
/*kinech menu nomer 2*/
/*menushka  nomer 3*/
.menu_3 ul{
    font-size: 0;
}
.menu_3 li{
    list-style: none;
    font-size: 14px;
    display: block;
    border-right: 1px solid #3f4751;
}
.menu_3:first-child ul:last-child li{
    border-right: none;
}
.home{
    position: relative;
}
.home::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 13px;
    background: url(../images/sprait.png) no-repeat;
    background-position: -1px/*-20px кольорва хата*/ -2px;
    top: 15px;
} 
.social{
    padding: 15px 30px;
}
.social li{
    border: none;
    padding-right: 25px;
}
.social a{
    display: block;
    padding: 0;
}
.fb{
    width: 10px;
    height: 18px;
    background: url(../images/sprait.png) no-repeat;
    background-position: -13px -50px;
    transition: all 0.5s ease;
}
.tw{
    width: 16px;
    height: 16px;
    background: url(../images/sprait.png) no-repeat;
    background-position: -20px -32px;
    transition: all 0.5s ease;
}
.inst{
    width: 14px;
    height: 16px;
    background: url(../images/sprait.png) no-repeat;
    background-position: -18px -15px;
    transition: all 0.5s ease;
}
.fb:hover{
    background-position: -2px -50px;
}
.tw:hover{
    background-position: -3px -32px;
}
.inst:hover{
    background-position: -1.5px -15px;
}
.sub_menu_double{
    width: 420px;
    background-color: #d2d4d5;  
}
.sub_menu_double ul{
    width: 210px;
}
.sub_menu_double{
    overflow: hidden;
    border-radius: 3px;
}
.sub_menu_double ul:first-child li:first-child:hover a{
    border-radius: 3px 0 0 0;
}
.sub_menu_double ul:last-child li:first-child:hover a{
    border-radius: 0 3px 0 0;
}
.sub_menu_double ul:first-child li:last-child:hover a{
    border-radius:0 0 0 3px;
}
.sub_menu_double ul:last-child li:last-child:hover a{
    border-radius: 0 0 3px 0;
}
.sub_menu_double ul:first-child li{
    border-right: 1px solid #b9bdc1;
}
/*kinec menushca nomer3*/
/*tablnchka nomer 1*/
table{
    width: 100%;
    border-collapse: collapse;    
}
table tr th:last-child{
    border-right: none;
}
table tr td:last-child{
    border-right: none;
}
table tr th:first-child{
    border-left: none;
}
table tr td:first-child{
    border-left: none;
}
table tr:first-child  th{
    border-top: none;
}
table tr:last-child  td{
    border-bottom: none;
}
thead th{
    border: 1px solid;
    border-color: #3f4852;
}
tbody td{
    border: 1px solid;
    border-color: #c0c1c2;
}
thead{
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
}
tbody{
    color: #2a3644;
}
.resulys{
    padding: 15px 0;
}
.years,
.tcolumn_one,
.tcolumn_two,
.tcolumn_three{
    width: 130px;
    padding: 15px 0;
}
tbody tr:nth-child(n+1) td{
    background-color: #f2f2f2;
}
tbody tr:nth-child(2n) td{
    background-color: #e8e8e8;
}
tbody tr:hover{
    background-color: #c0c1c2;
}
.numbers{
    text-align: center;
    width: 60px;
}
.names{
    padding: 15px 25px;
    width: 500px;
    text-align: left;
}
.tcolumn_one,
.tcolumn_two,
.tcolumn_three{
    padding-right: 20px;
    text-align: right;
}
/*kinec tablicu nomer 1*/
/*tablichka nomer 2*/
.table{
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.table p b{
    border-top: none;
}
.table p b:first-child{
    border-left: none;
}
.table p b:last-child{
    border-right: none;
}
.table p i:first-child{
    border-left: none;
}
.table p i:last-child{
    border-right: none;
}
.table p:last-child  i{
    border-bottom: none;
}
.years{
    text-align: center;
}
.table b{
    border: 1px solid;
    border-color: #3f4852;
}
.table i{
    border: 1px solid;
    border-color: #c0c1c2;
}
.table p{
    display: table-row;
}
.table b{
    display: table-cell;
}
.table i{
    display: table-cell;
    text-decoration: none;
    font-style: normal;
}
.table i,
.table b{
    border: 1px solid;
    border-color: #c0c1c2;
}
.table p:first-child b{
    background-color: #2a3644;
    font-size: 16px;
    color: #ffffff;
}
.table p:not(:first-child){
    color: #2a3644;
}
.table p:not(:first-child):nth-child(n+1) i{
    background-color: #f2f2f2;
}
.table p:not(:first-child):nth-child(2n) i{
    background-color: #e8e8e8;
}
.table p:not(:first-child):hover i{
    background-color: #c0c1c2;
}
.table p:first-child b:first-child,
table tr:first-child th:first-child{
    border-radius: 3px 0 0 0;
} 
.table p:first-child b:last-child,
table tr:first-child th:last-child{
    border-radius: 0 3px 0 0;
} 
.table p:last-child i:first-child,
table tr:last-child td:first-child{
    border-radius: 0 0 0 3px;
} 
.table p:last-child i:last-child,
table tr:last-child td:last-child{
    border-radius: 0 0 3px 0;
}              
/*kinec tablicu nomer 2*/
.left{
    float: left;
}
.right{
    float: right;
}
.clr::after{
    content: "";
    clear: both;
    display: block;
}